
@import url('./reset.css');

body {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  background: url('https://img.freepik.com/free-vector/gradient-wavy-background-with-spheres_23-2149111796.jpg?w=996&t=st=1709399411~exp=1709400011~hmac=289feb21976198a427c4c8246f4ddf13e65220a339ebf29798b02e0a250badf9');
  background-repeat: no-repeat;
  background-size: cover
}

.search-container{
  display: flex;
  gap: 8px;
  justify-content: center;
}

.form-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;
  border: none;
  border-radius: 4px;
  width: 272px;
  padding: 8px
}

.submit-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  background: #4e75ff;
}

.submit-btn:hover,
.submit-btn:focus {
  background: #6c8cff;
}


/* Loader */

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  margin: 3% 48%;
  box-sizing: border-box;
  position: relative;
  animation: pulse 1s linear infinite;
}
.loader:after {
  content: '';
  position: absolute;
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
  0% { transform: translate(-50%, -50%) scale(0) }
  60% , 100% { transform: translate(-50%, -50%)  scale(1)}
}
@keyframes pulse {
  0% , 60% , 100%{ transform:  scale(1) }
  80% { transform:  scale(1.2)}
}


